<div class="row">
  <div class="col-lg-2">
    <app-criteria-panel (submit)="analyze($event)"></app-criteria-panel>
  </div>
  <div *blockUI="'charts'" class="col-lg-10">
    <div class="row">
      <div class="col-12" [class.d-none]='!yearStats'>
        <div class="card">
          <div class="card-header">
            <span>Payments statistic for the year</span>
          </div>
          <div class="card-body">
            <app-chart [chartData]="yearStats"></app-chart>
          </div>
        </div>
      </div>
      <div class="col-12" [class.d-none]='!previousMonthStats && !lastMonthStats'>
        <div class="card">
          <div class="card-header">
            <span>Payments statistic for the last 2 months for the choosen account</span>
          </div>
          <div class="card-body">
              <div class="row">
                <div class="col-6" [class.d-none]='!previousMonthStats'>
                  <app-chart [chartData]="previousMonthStats"></app-chart>
                </div>
                <div class="col-6" [class.d-none]='!lastMonthStats'>
                  <app-chart [chartData]="lastMonthStats"></app-chart>      
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" [class.d-none]='!forecast'>
        <div class="card">
          <div class="card-header">
            <span>Payments amount forecasting</span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <ul class="small">
                  <li>Expected expense of {{expenseIn3Days}} {{predictionCurrency}} in 3 days.</li>
                  <li>Expected expense of {{expenseIn7Days}} {{predictionCurrency}} in 7 days.</li>
                  <li>Expected expense of {{expenseIn7Days}} {{predictionCurrency}} in 14 days.</li>
                </ul>
              </div>
              <div class="col-6">
                <app-chart [chartData]="forecast"></app-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>