<div class="row">
  <div class="col-lg-2">
    <app-criteria-panel (submit)="analyze($event)"></app-criteria-panel>
  </div>
  <div *blockUI="'charts'" class="col-lg-10">
    <div *ngIf="analysis" class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <span>Payments statistic for the year</span>
          </div>
          <div class="card-body">
            <app-chart
              [data]="analysis.yearStats"
              [currency]="analysis.currency">
            </app-chart>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <span>Payments statistic for the last 2 months for the choosen account</span>
          </div>
          <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <app-chart
                    [data]="analysis.previousMonthStats"
                    [currency]="analysis.currency">
                  </app-chart>
                </div>
                <div class="col-6">
                  <app-chart
                    [data]="analysis.lastMonthStats"
                    [currency]="analysis.currency">
                  </app-chart>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <span>Payments amount forecasting</span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <ul class="small">
                  <li>Expected expense of {{expenseIn3Days}} {{analysis.currency}} in 3 days.</li>
                  <li>Expected expense of {{expenseIn7Days}} {{analysis.currency}} in 7 days.</li>
                  <li>Expected expense of {{expenseIn14Days}} {{analysis.currency}} in 14 days.</li>
                </ul>
              </div>
              <div class="col-6">
                <app-chart
                  [data]="analysis.forecast"
                  [currency]="analysis.currency">
                </app-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
