<div class="row">
    <div class="col-lg-2">
      <app-criteria-panel
        (submit)="analyze($event)"
        (customerKeyChanged)="onCustomerKeyChanged($event)">
      </app-criteria-panel>
    </div>
    <div *blockUI="'charts'" class="col-lg-10">
      <div class="row">
        <div class="col-12">
          <app-account-list [customerKey]="customerKey"></app-account-list>
        </div>
        <div *ngIf="analysis" class="col-12">
          <div class="card">
            <div class="card-header">
              <span>Payments statistic for last 6 months</span>
            </div>
            <div class="card-body">
              <app-chart
                [data]="analysis.monthlyStats"
                [currency]="analysis.currency">
              </app-chart>
              <div class="card">
                <div class="card-header">
                  <button class="btn btn-link btn-sm"
                    (click)="isDetailsShown = !isDetailsShown"
                    [attr.aria-expanded]="isDetailsShown"
                    aria-controls="details">
                    {{isDetailsShown ? 'Hide details' : 'Show details'}}
                  </button>
                </div>
                <div id="details" [collapse]="!isDetailsShown" class="card-body">
                  <div class="row">
                    <div *ngFor="let monthData of analysis.dailyStats" class="col-6">
                      <app-chart
                        [data]="monthData"
                        [currency]="analysis.currency">
                      </app-chart>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="analysis" class="col-12">
          <div class="card">
            <div class="card-header">
              <span>Payments amount forecasting</span>
            </div>
            <div class="card-body">
              <app-chart
                [data]="analysis.forecast"
                [currency]="analysis.currency">
              </app-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
